body {
    font-family: sans-serif;
    background-color:#17182c;
    font-size: 20px;
}

header{
    background-color: #441c4a;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

nav {
    border-top: 5px  white;
    border-bottom: 5px  white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    background-color: #7d5aa8;
    color: #2a0143;
    border-radius: 5px;
    border: 2px solid rgb(56, 3, 61);
    padding: 5px; 
}

a:hover{
    text-decoration: none;
    background-color: #7d5aa8;
    color: #2a0143;
    border-radius: 5px;
    border: 2px solid rgb(56, 3, 61);
    padding: 5px; 
    transform: scale(1.1);
    transition: transform 0.1s;
}

h1{
    color: #850AE5;
    text-align: center;
    background-color:#313361;
    border-radius: 5px;
}

h2{
    color: #850AE5;
}

footer{
    background-color: #441c4a	;
    border-radius: 20px;
    padding: 5px;
}

footer p {
    background-color: #7d5aa8	;
    color: #2a0143;
    border-radius: 10px;
    padding: 5px;
}

.full-image {
    margin: 10px 0px 10px 0px;
}

.post-text {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.post {
    border-radius: 50px;
    background-color: #441c4a;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
}

.article-but {
    text-decoration: none;
    background-color: #133aac;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

.social {
    display: block;
    width: 30px;
}

.logo{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    height: 150px;
}

p:hover{
    background-color: #3c105e;
    color: rgb(203, 123, 250);
    border-radius: 10px;
    padding: 5px;
    transition: all 0.2s;
}

p{
    margin-left: 10px;
    margin-right: 10px;
}

img{
    border-radius: 10px;
    padding: 10px;
}
